body{
}

.mydropdown:hover .dropdown-menu {
  display: block;
}

.active-button-color {
  background-color: #6B7280;
}

ul li.active .background-cover-1{
  animation: nauvao 1s forwards;
}


.h-slider{
  height: 70vh;
}

.abs-slide{
  top: none;
  bottom: 0px;
}
.sub-line-height{
}
.product-img-height{
  width: calc(100vw * 0.25);
}

.triangle-border-left{
  width: 0;
  height: 0;
  border-bottom: 56px solid rgba(243, 244, 246, var(--tw-bg-opacity));
  border-right: 56px solid transparent;
}
@media only screen and (max-width: 768px) {
  .h-slider{
    display: block;
    height: calc(100vw * 0.42);
  }
  .product-img-height{
    width: 100%;
    height: 100%;
  }
  .abs-slide{
    top: 10px;
  }
}

@-webkit-keyframes nauvao {
  from{
    transform: translateX(-100%) translateY(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0) translateY(0);
    opacity: 0.4;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

input[type=radio] {
  width: 20px;
  height: 20px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}